@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  background: #d6e3f8;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

.animate-sudden-appear {
  animation: fadeIn 0.1s ease-in-out forwards;
}

.animate-fade-in-out {
  animation: fadeInOut 2.75s ease-in-out forwards;
}

.animate-fade-in {
  animation: fadeIn ease-in-out 0.25s forwards;
}

.animate-fade-in-slower {
  animation: fadeIn ease-in-out 0.5s forwards;
}

.animate-fade-in-slowest {
  animation: fadeIn ease-in-out 1s forwards;
}

.animate-fade-in-slowest-2x {
  animation: fadeIn ease-in-out 1.5s forwards;
}

.animate-fade-in-slowest-3x {
  animation: fadeIn ease-in-out 1.75s forwards;
}

#portfolioHeader {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
}

div {
  scrollbar-width: thin;
  scrollbar-color: #584b53 #e4bb97;
}

/* WebKit browsers (Chrome, Safari, etc.) */
div::-webkit-scrollbar {
  height: 6px;
  border-radius: 8px;
}

div::-webkit-scrollbar-thumb {
  background-color: #584b53;
}

div::-webkit-scrollbar-track {
  background-color: #e4bb97;
}
