@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  background: #2c292d;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes meltGlass {
  from {
    backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
  }
  to {
    backdrop-filter: none;
    background-color: none;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

.animate-sudden-appear {
  animation: fadeIn 0.1s ease-in-out forwards;
}

.animate-fade-in-out {
  animation: fadeInOut 2.75s ease-in-out forwards;
}

.animate-fade-in {
  animation: fadeIn ease-in-out 0.25s forwards;
}

.animate-fade-in-slower {
  animation: fadeIn ease-in-out 0.5s forwards;
}

.animate-fade-in-slowest {
  animation: fadeIn ease-in-out 1s forwards;
}

.animate-fade-in-slowest-2x {
  animation: fadeIn ease-in-out 1.5s forwards;
}

.animate-fade-in-slowest-3x {
  animation: fadeIn ease-in-out 1.75s forwards;
}

#projectModal {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
}

.section-fade-in {
  animation: fadeIn ease-in-out 0.25s fowards;
}
.section-fade-out {
  animation: fadeOut 1s ease-in-out forwards;
}

.glass-blur {
  color: white;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  animation: fadeIn ease-in-out 1s forwards;
}

.melt-glass {
  color: black;
  animation: meltGlass ease-in-out 1s forwards;
}

div {
  scrollbar-width: thin;
  scrollbar-color: #584b53 #e4bb97;
}

/* WebKit browsers (Chrome, Safari, etc.) */
div::-webkit-scrollbar {
  height: 6px;
  border-radius: 8px;
}

div::-webkit-scrollbar-thumb {
  background-color: #584b53;
}

div::-webkit-scrollbar-track {
  background-color: #e4bb97;
}

@keyframes pending {
  to {
    visibility: hidden;
  }
}

.npm-install {
  animation: pending 0.5s steps(5, start) infinite;
}

#scroller {
  max-width: 1600px;
}

#testimonials {
  transition: transform 0.5s ease-in-out;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.typewriter {
  overflow: hidden;
  border-right: 0.15em solid #e4bb97;
  white-space: nowrap;
  margin: 0 auto;
  animation: typewriter 4s steps(30, end), blink-caret 0.75s step-end infinite;
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.zoom-in {
  animation: zoomIn 0.1s ease-out;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in {
  animation: slideInFromLeft 1s ease-out;
}

@keyframes swing {
  20% {
    transform: rotate3d(0, 0, 1, 15deg);
  }
  40% {
    transform: rotate3d(0, 0, 1, -10deg);
  }
  60% {
    transform: rotate3d(0, 0, 1, 5deg);
  }
  80% {
    transform: rotate3d(0, 0, 1, -5deg);
  }
  100% {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

.swing {
  transform-origin: top center;
  animation: swing 1s ease-in-out;
}

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.bounce-in {
  animation: bounceIn 1s;
}

@keyframes flipIn {
  0% {
    transform: perspective(400px) rotateY(-90deg);
    opacity: 0;
  }
  100% {
    transform: perspective(400px) rotateY(0);
    opacity: 1;
  }
}

.flip-in {
  animation: flipIn 1s ease-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.pulse {
  animation: pulse 2s infinite;
}
